<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="<?php echo X_UA_COMPATIBLE; ?>" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?php echo G_STATIC_URL; ?>/common/apple_touch_icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo G_STATIC_URL; ?>/common/apple_touch_icon_114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo G_STATIC_URL; ?>/common/apple_touch_icon_72x72.png" />
    <link rel="apple-touch-icon-precomposed" href="<?php echo G_STATIC_URL; ?>/common/apple_touch_icon_57x57.png" />
    <link rel="stylesheet" type="text/css" href="<?php echo G_STATIC_URL; ?>/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo G_STATIC_URL; ?>/css/icon.css" />

    <title><?php echo $this->page_title; ?></title>
    <base target="_blank" />
    <script type="text/javascript">
        var G_BASE_URL = '<?php echo base_url(); ?><?php if (get_setting('url_rewrite_enable') != 'Y') { ?>/<?php echo rtrim(G_INDEX_SCRIPT, '/'); ?><?php } ?>';
        var G_STATIC_URL = '<?php echo G_STATIC_URL; ?>';
    </script>
    <script src="<?php echo G_STATIC_URL; ?>/js/jquery.js?v=<?php echo G_VERSION_BUILD; ?>" type="text/javascript"></script>
    <script src="<?php echo G_STATIC_URL; ?>/js/app/reader.js?v=<?php echo G_VERSION_BUILD; ?>" type="text/javascript"></script>
<!--[if lte IE 6]>
<script type="text/javascript">
    $(document).ready(function () {
        $('#left_panel').addClass('hide');
    });
</script>
<![endif]-->
</head>

<body>
    <!--[if lte IE 6]>
    <div style="color:red;font-size:18px"><?php _e('你正在使用的浏览器版本太低, 将不能正常浏览本站的所有功能. 请升级 <a href="http://windows.microsoft.com/zh-CN/internet-explorer/downloads/ie">Internet Explorer</a> 或使用 <a href="http://www.google.com/chrome/">Google Chrome</a> 浏览器'); ?></div>
    <![endif]-->
    <h6>
    这是大陶都的日报页面
    </h6>
</body>
</html>
